html, body{
    padding:0;
    margin:0;
}
.homePage{
    background-image: url('https://kelseyandyoseline.github.io/assets/prom_pic2.jpg');
    background-attachment: initial;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h1, h2, h3{
    font-family: 'Great Vibes', cursive;
    margin:0;
}
p{
    font-family: 'Roboto', sans-serif;
}
@keyframes dissappear{
    from { display:initial; }
    to { display:none; }
}
.navIcon{
    position: absolute;
    height: 40px;
    float: right;
    z-index: 9999;
}
#hamburger:active{
    animation-name: dissappear;
    animation-duration: 1s;
}
#hamburger:active #cancel{
    display:initial;
}
#cancel:active{
    animation-name: dissappear;
    animation-duration: 1s;
}
#cancel:active #hamburger{
    display:initial;
}
header{
    font-size: 50px;
    z-index: 9998;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 50px;
}

