html, body{
    padding:0;
    margin:0;
}
.homePage{
    background-image: url('https://yoselineandkelsey.com/assets/prom_vertical_zoom.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
h1, h2, h3{
    font-family: 'Great Vibes', cursive;
    margin:0;

}
p{
    font-family: 'Roboto', sans-serif;
}
.nav{
    width:100%;
    height: 10px;
    list-style-type: none;
}
.hamburger {
    font-size: 40px;
  
    display: inline-block;
  
    width: 1em;
    height: 1em;
    padding: 0;
    margin: 20px;
    cursor: pointer;
    transition: transform .2s ease-in-out;
    vertical-align: middle;
  
    border: 0 none;
    background: transparent;
    outline: 0;
    position:fixed;
    z-index: 5;

  }
  
  /**
   * Button height fix for Firefox
   */
  .hamburger::-moz-focus-inner {
    padding: 0;
    border: 0 none;
  }
  
  /**
   * Focus fix for Chrome
   */
  .hamburger:focus {
    outline: 0;
  }
  .hamburger:before,
  .hamburger:after {
    content: "";
  }
  
  .hamburger:before,
  .hamburger .icon,
  .hamburger:after {
    display: block;
  
    width: 100%;
    height: .1em;
    margin: 0 0 .2em;
  
    transition: transform .2s ease-in-out;
  
    border-radius: .05em;
    background: black;
  }
  
  /**
   * Styles for the active `.hamburger` icon
   */
  .hamburger.active:before,
  .hamburger.active .icon,
  .hamburger.active:after {
    background: black;
  }
/**
 * CLOSE/CANCEL/CROSS
 */
 .hamburger.hamburger-cancel.active .icon {
    transform: scale(0);
  }
  
  .hamburger.hamburger-cancel.active:before {
    transform: translateY(.4em) rotate(135deg);
  }
  
  .hamburger.hamburger-cancel.active:after {
    transform: translateY(-.2em) rotate(-135deg);
  }
  .panel{
    height: 100%;
    width: 50%;
    background-color:white;
    margin: 0;
    outline:none;
    transition: transform .2s ease-in-out;
    position:fixed;
    padding-top: 60px;
    padding-left: 60px;
    z-index:2;

  }
  .cover{
    height: 100%;
    width: 100%;
    opacity: .5;
    color: gray;
    transition: visibility .2s ease-in-out;
    position:fixed;
    z-index: 1;
  }
  .cover.on:before{
    visibility: hidden;
  }
  .cover.on:after{
    visibility: visible;
  }
  .hamburger + .panel{
    transform: translateX(-1000px);
  }
  .hamburger.active + .panel{
    transform: scaleX(1);
  }
  .panel ul{
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    margin: 10px;
  }
  .panel li, .panel a{
    display: block;
    padding: 8px 16px;
    border-radius: 10em;
    word-wrap: break-word;
  }
  .panel a{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    text-decoration:none;
  }
  /*you can't just say active without defining it.*/
  .active{
    color: white;
  }
  .on{
    color: darkgray;
  }



header{
    font-size: 50px;
    z-index: 9998;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 90px;
}
main{
    background-color: white;
    height: 700px;
    padding: 20px;
    font-size: 40px;
    text-align: center;
}

