html, body{
    padding:0;
    margin:0;
}
.homePage{
    background-image: url('https://kelseyandyoseline.github.io/assets/prom_pic2.jpg');
    background-attachment: initial;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h1, h2, h3{
    font-family: 'Great Vibes', cursive;
    margin:0;
}
p{
    font-family: 'Roboto', sans-serif;
}
@keyframes dissappear{
    from { display:initial; }
    to { display:none; }
}
.nav-icon {
    margin: 1em;
    width: 40px;
  }
  
  .nav-icon:after, 
  .nav-icon:before, 
  .nav-icon div {
    background-color: black;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
  }
  .nav-icon:visited:before {
    transform: translateY(12px) rotate(135deg);
  }
  
  .nav-icon:visited:after {
    transform: translateY(-12px) rotate(-135deg);
  }
  
  .nav-icon:visited div {
    transform: scale(0);
  }
header{
    font-size: 50px;
    z-index: 9998;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 50px;
}

